<%- model_class = List -%>
<div class="page-header">
  <h1><!--%=t '.title', default: [:'helpers.titles.edit', '%{model}'], model: model_class.model_name.human.titleize % -->
  <%= @list.name %>
  <%= content_tag(:i, nil, class: 'fa fa-pencil') %>
  </h1>
</div>

<%= render partial: 'form' %>

<%= content_tag(:div, "#{__FILE__}" , class: 'iv col-lg-12') %>
