<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <h2>Search results for <i><%= params[:term]%>:</i></h2>
  <p>Note: search is case insensitive</p>

</div><!-- h1 -->

<%= render :partial => 'userlist' %>

<p class='iv'><%= "#{__FILE__}" %></p>