<%- model_class = Mailgroup -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <h2>Search results for <i><%= params[:term]%>:</i></h2>
  <p>Note: search is case insensitive</p>

</div><!-- h1 -->

<!--%= render :partial => @mailgrouplist %-->
<%= render partial: 'mailgrouplist' %>


<%= content_tag(:div, "#{__FILE__}" , class: 'iv col-lg-12') %>