@import "twitter/bootstrap/bootstrap";
@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";


@font-family-sans-serif:  Arial, 'sans-serif', Helvetica, sans-serif;
@font-family-serif:       'Times New Roman', Times, serif;
@font-family-monospace:   Consolas, 'Courier New', monospace;
@font-family-base:        @font-family-sans-serif;
@font-family-header:      'francois_oneregular', Trebuchet, Arial;

@font-size-base:          12px;


table.fadeactions tr > td.fadeactions {
  visibility: hidden;
  font-size: 20px;
  line-height: .66em;
  letter-spacing: 0px;
}

table.fadeactions tr:hover > td.fadeactions {
  visibility: visible;
}


.fa, .glyphicon {
  color: dimgrey;
  &:hover {
    color: @brand-primary;
  }
}


.debug(@var) {
  &:after {
    content: "@{var}";
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}


.control-group.row {
  margin-bottom: .5em;
}

//.container { padding-top: 4px; }

.container-main {
  .container; 
  padding-top: 80px;
  //padding-left: 0px;
  //margin-left: 0px;

}



.row {
  margin: 0px;
  padding: 0px;
}


.page-header {
  margin: 10px 15px;
  border-bottom: none; //1px solid #ccc;
  h1, h2, h3, h4 {
    font-family: @font-family-header;
  }
  .btn {
    margin-top: 20px;
    margin-bottom: 10px;    
  }
}





.navbar-static-top {
  position: fixed;
  padding-top: 3px;
}

.navbar-nav li {
  font-family: @font-family-base;
  font-size: 10pt;
  //float: right;
}

.navbar-brand {
    background-image: image-url('logo.png');
    width:  213px;
    height:  50px;
    background-repeat: no-repeat;
    float: right;
}


.well.sidebar-nav {
  position: fixed;
  font-family: @font-family-base;
  font-size: 10pt;
}



li.ui-menu-item {
  font-family: @font-family-base;
  font-size: 9pt;
}


.panel {
    margin-bottom: 10px;
    background-color: #FFF;
    border: 0.1px solid transparent;
    border-radius: 8px;
    box-shadow: 4px 6px 10px 2px #CCC;
    border-color: #AAA;
}

.panel-btn-group {
    float: right;
    margin-right: 6px;
}


.iv { // font-color of filenames at bottom of views
  color: #eee;
  // margin: 0px;
  // padding: 0px;
}


.userInfo {
  float: right;
  margin-right: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn > i {
  padding-right: 3px;
}

#flash {
  position: absolute;
  top: 70px;
}

#flashbottom {
  position: absolute;
  bottom: 15px; 
}

// design flash message with wildcards (alert-warning, alert-error, ...)
div[class^="alert-"], div[class*="alert-"] {
    margin-left: 0px;
    padding: 6px 15px;
    //background-color: #fff;
    //border: none;
    //float: left;
}

.modal-title {
  font-family: @font-family-header;
}


a.btn.btn-primary.wide {
  padding-left: 80px;
  padding-right: 80px;
}

i.fa.fa-trash-o:hover {
    color: #dd1000;
}